* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	display: flex;
	background-color: black;
	width: 100%;
}

.headerLogo {
	font-weight: 800;
	text-transform: uppercase;
	color: white;
	font-size: 24px;
	cursor: pointer;

	margin-top: 56px;
	margin-left: 12%;
}

nav {
	margin-top: 56px;
	margin-left: 29%;
}

.topNav a {
	color: white;
	text-align: center;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
}

.topNav a:hover {
	border-bottom: 3px solid #fcac45;
}

.topNav .icon {
	display: none;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

main .mainWelcome {
	background: black;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 410px;
}

main .mainWelcome h1 {
	color: #999999;
	font-size: 44px;
	text-transform: uppercase;
}

main .mainWelcome p {
	color: #999999;
	font-size: 20px;
}

main .myCompany {
	color: #fcac45;
}

.wrapper {
	width: 76%;
	margin: 0 auto;
}

.mainAbout {
	display: flex;
	margin: 103px 0 103px 0;
}

.aboutLeft {
	
}

.aboutRight {
	margin: 34px 0 0 180px;
}

.aboutRight h2 {
	display: inline-block;
	padding-bottom: 21px;
	border-bottom: 4px solid #fcac45;
	margin-bottom: 31px;
	text-transform: uppercase;
	font-size: 34px;
	font-weight: 1;
}

.aboutRight p {
	margin-bottom: 50px;
	color: #5a5a5a;
	font-size: 18px;
}

.aboutRight ul {
	color: #5a5a5a;
}

.aboutRight li {
	background: url(img/mark.png) 0px no-repeat;
	padding-left: 25px;
	margin-bottom: 21px;
	font-size: 16px;
}

.mw-100 {
	min-width: 100%;
}

.mainTeam {
	background: black;
	text-align: center;
	padding: 100px 0 165px 0;
	color: white;
}

.mainTeam h2 {
	display: block;
	text-transform: uppercase;
	font-size: 44px;
	padding-bottom: 30px;
	font-weight: 100;
}

.mainTeam .line {
	width: 100px;
	height: 3px;
	background: #fcac45;
	position: relative;
	margin-bottom: 107px;
}

.photo {
	background: #d7d7d7;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 0 auto 22px auto;
}

.teamCards {
	display: flex;
	flex-direction: row;
}

.card {
	margin: 30px 40px;
}

.name {
	margin-bottom: 13px;
	font-size: 20px;
}

.position {
	margin-bottom: 36px;
	font-size: 16px;
}

.aboutPosition {
	font-size: 14px;
}

.lineWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}


.mainServices h2 {
	text-transform: uppercase;
	margin: 100px 0 31px 0;
	font-size: 44px;
	font-weight: 100;

}

.mainServices .line {
	width: 100px;
	height: 3px;
	background: #fcac45;
	position: relative;
	margin-bottom: 55px;
}

.mainServices p {
	font-size: 16px;
	font-color: #6c6c6c;
}

.servicesCards {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 100px auto 100px auto;
	grid-column-gap: 20px;
}

.servicesCard h4 {
	text-transform: uppercase;
	font-size: 25px;
	margin: 30px 0 20px 0;
}

.servicesCard p {
	font-size: 14pt;
	font-color: #595959;
}






@media screen and (max-width: 1200px){
	nav {
		margin-left: 20%;
	}
}

@media screen and (max-width: 1105px){
	nav {
		margin-left: 10%;
	}
}

@media screen and (max-width: 1010px){
		.topNav a {
			display: none;
		}

		.topNav a.icon {
			float: right;
			margin-top: -17px;
			display: block;
			color: white;
			font-size: 25px;
		}

		nav {
			width: 100%;
		}
		
		.topNav.responsive {
			position: relative;
			top: 50px;
			left: -200px;
		}

		header .topNav.responsive {
			height: 340px;
		}

		.topNav.responsive a.icon {
			position: absolute;
			top: -50px;
			right: -200px;
		}

		.topNav.responsive a {
			float: none;
			display: block;
			text-align: left;
		}


		main .mainWelcome {
			padding: 50px 0 50px 0;
		}

		main .mainWelcome p {
			font-size: 14px;
		}

		main .mainWelcome h2 {
			font-size: 25px;
		}

		.mw-100 {
			max-width: 100%;
		}

		.mainAbout {
			flex-direction: column;
		}

		.aboutRight {
			text-align: center;
			margin-left: 0;
		}

		.aboutRight li {
			text-align: left;
		}

		.aboutRight h2 {
			font-size: 20px;
			margin-top: 10px;
			font-weight: 1;
		}

		.teamCards {
			flex-direction: column;
		}

		.name {
			font-size: 20px;
		}

		.position {
			font-size: 16px;
		}

		.aboutPosition {
			font-size: 14px;
		}

		.line {
			margin-bottom: 50px;
		}

		.servicesCards {
			grid-template-columns: auto;
		}

		.servicesCard {
			margin-bottom: 60px;
		}
	}
}