@import 'fonts.css';

body {
	background: gray;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

.header {
	padding: 20px 0;
	background: white;
}

.header__menu {
	color: #212121;
}

.header__menu__item {
	margin-left: 33px;
}

.header__menu__item a {
	color: #212121;
	font-family: 'Open Sans Semibold';
	font-size: 20px;
}

.header__menu__item a:hover {
	text-decoration: none;
	color: #868686;
}