@import 'fonts.css';

body {
	font-family: 'Open Sans';
	color: #212121;
	background: gray;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

/*Style for content blocks*/
.container_padding-y125 {
	padding: 125px 0px;
}

.block-title {
	font-size: 30px;
	font-weight: bold;
}

.block-text {
	font-size: 15px;
}

/*Header CSS rules*/
.header > div {
	background: white;
	padding: 20px 0;
}

.header__menu {
}

.header__menu__item {
	margin-left: 33px;
}

.header__menu__item a {
	font-size: 20px;
	font-family: 'Open Sans Semibold';
	color: #212121;
}

.header__menu__item a:hover {
	text-decoration: none;
	color: #868686;
}

/*Cap CSS rules*/
.cap > div {
	background: url(../img/cap.png);
	background-size: cover;
	background-position: 0 100%;
	padding: 180px 0;
	color: white;
}

.cap__header {
	font-size: 55px;
}

.cap__description {
	font-size: 20px;
	margin-bottom: 100px;
}

.button {
	transition: 0.3s;
	padding: 10px 25px;
	margin-left: 25px;
	color: white;
	background: transparent;
	border: 2px solid white;
	font-size: 20px;
	font-family: 'Open Sans Semibold';
}

.button:hover {
	background: #00897b;
	border: 2px solid #00897b;
}

/*About us CSS rules*/
.about-us {
}

.about-us > div {
	background: white;
}

.about-us__title {
	margin-bottom: 30px;
}

.about-us__text {
	margin-bottom: 125px;
	font-size: 15px;
}

.about-us__item__image {
	margin-bottom: 40px;
}

.about-us__item__title {
	margin-bottom: 30px;
	font-size: 20px;
	font-family: 'Open Sans Semibold';
}

.about-us__item__text {
	font-size: 15px;
}

.about-us__item {
	text-align: center;
}

/*Our services*/
.services > div {
	background: #e4fdf9;
}

.services__title {
	padding-bottom: 40px;
}

.services__text {
	padding-bottom: 115px;
}

.services__card {
	background: white;
	padding: 60px 50px 50px;
	transition: 0.3s;
	margin-bottom: 30px;
}

.services__card:hover {
	background: #00897b;
	color: white;
	box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.26);
}

.services__card__icon {
	font-size: 60px;
	color: black;
	margin-bottom: 40px;
	transition: 0.3s;
}

.services__card:hover .services__card__icon {
	color: white;
}

.services__card__title {
	margin-bottom: 25px;
	font-family: 'Open Sans Semibold';
	font-size: 20px;
}

.services__card__text {
	margin-bottom: 45px;
	font-size: 15px;
}

.services__card__button {
	font-size: 20px;
	font-family: 'Open Sans Semibold';
	color: #212121;
	background: transparent;
	border: 1px solid #212121;
}

.services__card:hover .services__card__button {
	color: white;
	border: 1px solid white;
}

/*Portolio*/
.portfolio > div {
	background: white;
}

.portfolio__title {
	margin-bottom: 35px;
}

.portfolio__text {
	margin-bottom: 110px;
}

.portfolio__button {
	margin-bottom: 120px;
	color: #212121;
	border: 2px solid #00897b;
	transition: 0.3s;
}

.portfolio__button:hover {
	color: white;
}

.portfolio__item {
	margin-bottom: 30px;
	transition: 0.3s;
}

.portfolio__item__image {
	transition: 0.3s;
}

.portfolio__item:hover .portfolio__item__image{
	filter: brightness(30%);
}

.portfolio__item__text {
	filter: opacity(0);
	position: absolute;
	width: 100%;
    left: 0;
    top: 35%;
    color: white;
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    transition: 0.3s;
}

.portfolio__item:hover .portfolio__item__text {
	filter: opacity(100);
}

.portfolio__button_view-all {
	margin-top: 100px;
	margin-bottom: 0;
}